body{
    width: 100vw;
    padding: 0;
    height: 100vh;
   
}
main{
    width: 100vw;
    height: 100vh;
    display: grid;
    padding: 0;
    grid-template-rows: 10% 80% 10%;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
}
nav{
    background-color: #607E85;
    opacity: 47%;
    grid-row: 1/1;
    width: 100vw;
    height: 100%;
 
}
.body{
    grid-row: 2/2;
    padding: 5% 15% 5% 15%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr 1fr;
}
.action{
    place-self: center;
    background-color: #347B8B;
    opacity: 62%;
    border-radius: 20px;
    width: 80%;
    height: 90%;
    border: 1px solid;
    font-size: 1.5rem;
    text-align: center;
    padding-top: 7%;
}
footer{
    background-color: #607E85;
    opacity: 47%;
    grid-row: 3/3;
    width: 100vw;
    height: 100%;
  
}