body{
    width: 100vw;
    padding: 0;
    height: 100vh;
   
}
main{
    width: 100vw;
    height: 100vh;
    display: grid;
    padding: 0;
    grid-template-rows: 10% 80% 10%;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    background-image: url("https://images.unsplash.com/photo-1579260729526-ca1e77ad9092?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
}
nav{
    background-color: #607E85;
    opacity: 47%;
    grid-row: 1/1;
    width: 100vw;
    height: 100%;
    padding-top: 1%;
    padding-left: 2%;
}
.body{
    grid-row: 2/2;
    padding: 5% 15% 5% 15%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr 1fr;
}
.action{
    place-self: center;
    background-color: #347B8B;
    opacity: 62%;
    border-radius: 20px;
    width: 80%;
    height: 90%;
    font-size: 1.5rem;
    text-align: center;
    padding-top: 7%;

}
.action:hover{
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);

}
footer{
    background-color: #607E85;
    opacity: 47%;
    grid-row: 3/3;
    width: 100vw;
    height: 100%;
    padding-top: 1%;
    padding-left: 2%;
  
}